body
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: blue;
    height: 120px;
    width: 100%;
}

h1
{
    color: red;
}

h2
{
    color: greenyellow;
}

p
{
    border:1px solid black;
}

.container
{
    display: flex;  
}

.personnage1, .personnage2, .personnage3, .personnage4 {
border: 1px solid green;
    position: relative;
    top:0;
    width: 50%;
}

.image
{
    display: flex;
    justify-content: center;
}

footer
{ border: 1px solid red;
    text-align:center;
    background-color:blue;
    height: 70px;
    width: 100%;
}

.retour
{
    text-align:center;
    border: 1px solid green;
}

.joe
{
    color:green;
}