header
{
    background-color: rgb(82, 126, 191);
    height: 70px;
    width: 100%;
}

H1
{
    color: red;
}

H2
{
    color: greenyellow;
}

.container
{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.image
{
    display: flex;
    justify-content: center;
    align-items: down;
}
.pax{
    width: 22%;
}